body { 
	padding-top: 70px; 
}
@media screen and (man-width= 320 px) {
	body {
  font-size: 100%
     }
}
h1, h2, h3, h4, h5, h6, body {
	font-family: "Avenir Next";
}
h1 {
	size: 100px;
	text-align: center;
}
h1 {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}

h1:before,
h1:after {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 400%;
}

h1:before {
  right: 100%;
}

h1:after {
  left: 100%;
}

.container {
  overflow: hidden;
  text-align: center;
}
h1 {
	padding-top: 10px;
	padding-bottom: 10px;
}
#padding {
	padding-top: 25px;
}










